body {
  background-color: rgba(0, 0, 0, 0.03);
}

body ul {
  padding: 0;
  list-style: none;
}

#new_user_brand {
  display: none;
}

#new_user_brand #new_user_to_show {
  margin-bottom: 0;
}

#new_user_brand #new_user_to_show h1 {
  margin-top: 0;
}

#search_box {
  position: relative;
  height: 10rem;
  background-image: linear-gradient(120deg, #fac42e 0%, #fec018 100%);
  margin-bottom: 3rem;
}

#search_box #index_title {
  font-size: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-weight: lighter;
}

@media (min-width: 1000px) {
  #search_box #index_subtitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 1000px) {
  #search_box #index_subtitle {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
}

#search_box #index_subtitle {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

#search_box #publish {
  display: block;
  margin: 10px auto;
  border-radius: 2rem;
  line-height: 30px;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search_box #publish:hover a {
  color: #000000;
}

#search_box #publish img {
  width: 30px;
  border-radius: 30px;
  border: 1px solid #fff;
}

#search_box #publish a {
  margin-right: 8px;
  color: white;
  text-decoration: none;
}

#search_box #search {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.5rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 90%;
}

#search_box #search .input-group #search_input {
  border-color: rgba(0, 0, 0, 0.1);
  height: 3rem;
  border-radius: 2rem 0 0 2rem;
}

#search_box #search .input-group button {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fec018;
  border-radius: 0 2rem 2rem 0;
}

#search_box #search #associative_box {
  display: none;
  position: absolute;
  z-index: 999;
}

#search_box #search #associative_box #associative_list {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
  overflow: hidden;
}

#search_box #search #associative_box #associative_list .associative_item {
  list-style: none;
  line-height: 2.5rem;
  padding-left: 1rem;
  cursor: pointer;
}

#search_box #search #associative_box #associative_list .associative_item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#banner .carousel-indicators {
  bottom: 0px;
}

#banner #index_banner .carousel-inner {
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#banner #index_banner .carousel-caption {
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  right: 0;
  left: 0;
}

#banner #index_banner .carousel-caption p {
  padding: 0 30px;
  margin-bottom: 0;
  margin-bottom: 20px;
}

#banner #right_banner {
  padding: 0;
  margin-left: -1rem;
  padding-left: 1em;
}

#banner #right_banner .banner_card {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}

#banner #right_banner .banner_card .banner_card_title {
  background-color: #fec018;
  line-height: 3rem;
  font-size: 1.2em;
  padding-left: 1rem;
  color: white;
}

#banner #right_banner .banner_card #banner_list {
  padding: 0;
  list-style: none;
  background-color: white;
  margin: 0;
}

#banner #right_banner .banner_card #banner_list .banner_list_item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

#banner #right_banner .banner_card #banner_list .banner_list_item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#banner #right_banner .banner_card #banner_list .banner_list_item:last-child {
  border: none;
}

#banner #right_banner .banner_card #banner_list .banner_list_item img {
  width: 4rem;
  border-right: none;
}

#banner #right_banner .banner_card #banner_list .banner_list_item .list_detail {
  width: 100%;
  font-size: 0.9rem;
  padding: 0 5px;
  position: relative;
}

#banner #right_banner .banner_card #banner_list .banner_list_item .list_detail .list_detail_title {
  position: relative;
  top: 3px;
  line-height: 17px;
  font-weight: 100;
  text-align: leftl;
  height: 34px;
  overflow: hidden;
}

#banner #right_banner .banner_card #banner_list .banner_list_item .list_detail .price_box {
  position: absolute;
  bottom: 0px;
}

#banner #right_banner .banner_card #banner_list .banner_list_item .list_detail .price_box .price {
  color: red;
  font-weight: bold;
}

#banner #right_banner .banner_card #banner_list .banner_list_item .list_detail .price_box .original_price {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.area_box .right_row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.area_box .right_row .item {
  padding-left: 0;
  padding-right: 15px !important;
}

.area_box .item {
  cursor: pointer;
}

.area_box .item:hover img {
  border: solid 2px rgba(0, 0, 0, 0.05);
}

.area_box .row {
  padding: 15px;
}

.area_box .area_title_box {
  border-radius: 5px;
  position: relative;
  height: 370px;
  background-color: pink;
  padding: 0;
  color: #f4f4f5;
  overflow: hidden;
}

.area_box .area_title_box img {
  width: 100%;
  position: absolute;
}

.area_box .area_title_box .img_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.9;
}

.area_box .area_title_box .title {
  text-align: center;
  width: 100%;
  height: 9rem;
  position: absolute;
  padding: 0 1rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.area_box .area_title_box .title .area_title {
  font-size: 3.5rem;
  border-bottom: 1px solid white;
}

.area_box .area_title_box .title .area_subtitle {
  font-size: 1rem;
}

.area_box .area_title_box .title a {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .area_box .item_box {
    height: 100%;
  }
  .area_box .item_box .row {
    height: 26% !important;
  }
  .area_box .item_box .row .item {
    padding: 0px !important;
    margin-top: 1rem;
  }
  .area_box .item_box a {
    padding: 0 5px;
  }
  .area_box .item_box .seller {
    position: relative !important;
    top: 0.5rem;
    padding: 0 5px !important;
  }
}

.area_box .item_box .row {
  padding: 0;
  padding-bottom: 0;
  height: 100%;
}

.area_box .item_box .item {
  height: 100%;
  padding-right: 0;
}

.area_box .item_box .item .img_border {
  width: 100%;
  height: 60%;
  overflow: hidden;
  border: 1px solid #eaecef;
  border-radius: 5px;
}

.area_box .item_box .item .img_border img {
  width: 100%;
}

.area_box .item_box .item .price_box {
  margin-top: 10px;
  height: 2.5rem;
  border-radius: 5px;
  border: solid 2px white;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.area_box .item_box .item .price_box .percent {
  float: left;
  line-height: 2.5rem;
  width: 40%;
  text-align: center;
  font-size: 1.4rem;
  color: white;
}

.area_box .item_box .item .price_box .price {
  background: white;
  min-width: 60%;
  float: right;
  text-align: center;
  line-height: 2.5rem;
}

.area_box .item_box .item .price_box .price .old {
  width: 50%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
  float: right;
  text-align: left;
}

.area_box .item_box .item .price_box .price .now {
  width: 50%;
  font-size: 1.4rem;
  float: left;
}

.area_box .item_box .item .item_title {
  margin-top: 0.5rem;
  height: 3rem;
  overflow: hidden;
}

.area_box .item_box .item .item_title a {
  display: block;
  line-height: 1.5rem;
}

.area_box .item_box .item .seller {
  padding-top: 4px;
  font-size: 0.9rem;
  width: 100%;
  height: 2rem;
  position: absolute;
  bottom: 0;
  padding-right: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.area_box .item_box .item .seller .seller_name {
  float: left;
}

.area_box .item_box .item .seller .seller_name .mdi {
  margin-right: 5px;
}

.area_box .item_box .item .seller .seller_level {
  float: right;
}

.area_box .item_box .item .seller .seller_level span {
  background-color: #24a647;
  padding: 2px 5px;
  color: white;
  border-radius: 5px;
}

#featured .img_mask {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

#featured .price_box {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border-color: #f6d365;
}

#cheaper .img_mask {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

#cheaper .price_box {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#81badb));
  background-image: linear-gradient(to top, #5ee7df 0%, #81badb 100%);
  border-color: #8ec9da;
}

#quality .img_mask {
  background-image: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

#quality .price_box {
  background-image: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  border-color: #f9748f;
}

#school_show .title_box {
  border-radius: 5px;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#868f96), to(#596164));
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

@media (max-width: 992px) {
  #school_show .title_box .title {
    font-size: 3rem !important;
  }
  #school_show .title_box .joint {
    right: 0 !important;
    left: 0 !important;
  }
}

#school_show .title_box .title {
  font-size: 4rem;
  line-height: 8rem;
  color: rgba(0, 0, 0, 0.13);
  text-align: center;
  font-weight: bold;
}

#school_show .title_box .joint_box {
  position: relative;
  height: 8rem;
  margin: 0;
}

#school_show .title_box .joint_box .joint {
  position: absolute;
  height: 5rem;
  width: 250px;
  top: 0;
  bottom: 0;
  right: 4rem;
  margin: auto;
}

#school_show .title_box .joint_box .joint .school_logo_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.5rem;
  height: 100%;
  float: left;
}

#school_show .title_box .joint_box .joint .school_logo_box .school_logo {
  display: block;
  width: 100%;
}

#school_show .title_box .joint_box .joint span {
  line-height: 5rem;
  color: white;
  float: left;
}

#school_show .title_box .joint_box .joint span:last-child {
  font-style: italic;
  font-weight: bold;
  font-size: 3rem;
}

#school_show .title_box .joint_box .joint .mdi {
  font-size: 2rem;
  margin: 0 0.5rem;
}

#school_show .price_box {
  background-image: -webkit-gradient(linear, left top, right top, from(#868f96), to(#596164));
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  border-color: #596164;
}

.item_list .row {
  padding: 0 10px;
}

.item_list .item {
  padding: 0 5px;
}

.item_list .item_innerbox {
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid #eaecef;
}

.item_list .item_innerbox:hover {
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.2);
}

.item_list .item_innerbox .img_border img {
  width: 100%;
}

.item_list .item_innerbox .price_box {
  margin: 5px;
  height: 2.5rem;
  border-radius: 5px;
  border: solid 2px white;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 400px) {
  .item_list .item_innerbox .price_box .percent {
    font-size: 1rem !important;
  }
  .item_list .item_innerbox .price_box .price .old {
    font-size: 0.7rem !important;
  }
  .item_list .item_innerbox .price_box .price .now {
    font-size: 1rem !important;
  }
}

.item_list .item_innerbox .price_box .percent {
  float: left;
  line-height: 2.5rem;
  width: 40%;
  text-align: center;
  font-size: 1.4rem;
  color: white;
}

.item_list .item_innerbox .price_box .price {
  background: white;
  min-width: 60%;
  float: right;
  text-align: center;
  line-height: 2.5rem;
}

.item_list .item_innerbox .price_box .price .old {
  width: 50%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
  float: right;
  text-align: left;
}

.item_list .item_innerbox .price_box .price .now {
  width: 50%;
  font-size: 1.4rem;
  float: left;
}

.item_list .item_innerbox .item_title {
  padding: 0 5px;
  height: 3rem;
  overflow: hidden;
}

.item_list .item_innerbox .item_title a {
  text-align: justify;
  display: block;
  line-height: 1.5rem;
}

.item_list .item_innerbox .seller {
  font-size: 0.9rem;
  width: 100%;
  line-height: 2rem;
  padding: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.item_list .item_innerbox .seller .seller_name {
  float: left;
}

.item_list .item_innerbox .seller .seller_name .mdi {
  margin-right: 5px;
}

.item_list .item_innerbox .seller .seller_level {
  float: right;
}

.item_list .item_innerbox .seller .seller_level span {
  background-color: #24a647;
  padding: 2px 5px;
  color: white;
  border-radius: 5px;
}

#footer {
  background-color: rgba(0, 0, 0, 0.04);
  margin-top: 1rem;
}

#footer .container .img_bg {
  width: 50%;
  display: block;
  margin: 1rem auto;
}

#footer .container .footer_text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 60%;
  width: 90%;
}

#footer .container .footer_text h1,
#footer .container .footer_text h2 {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 100;
}

#footer .container .footer_text h3 {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=index.css.map */